In [481]:
import pandas as pd

list1 = pd.read_csv('list1.csv')
list2 = pd.read_csv('list2.csv')
list3 = pd.read_csv('list3.csv')
list4 = pd.read_csv('list4.csv')
list5 = pd.read_csv('list5.csv')
final = pd.read_csv('Final.csv')

In [482]:
list1.head()

     State  Year Quarter                                               Text
0  Alabama  2020      Q1  Guidelines that could determine which coronavi...
1  Alabama  2020      Q1  Much of the country has ground to a halt. But ...
2  Alabama  2020      Q1  The move empowers the government to lock down ...
3  Alabama  2020      Q1  There is no such thing. Following last week’s ...
4  Alabama  2020      Q1  Across the country, it’s mostly business as us...

In [483]:
list2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   State    1999 non-null   object
 1   Year     1999 non-null   float64
 2   Quarter  1999 non-null   object
 3   Text     1999 non-null   object
dtypes: float64(1), object(3)
memory usage: 62.6+ KB

In [484]:
list2['Year'] = list2['Year'].astype(int)

In [485]:
list2

        State  Year Quarter                                               Text
0     Georgia  2020      Q1  Nearly 400 Americans and Canadians were evacua...
1     Georgia  2020      Q1  She regularly ordered iced coffee from her at ...
2     Georgia  2020      Q1  A fourth-generation owner of one of the bigges...
3     Georgia  2020      Q1  With Louisiana and Georgia delaying their prim...
4     Georgia  2020      Q1  Much of the country has ground to a halt. But ...
...       ...   ...     ...                                                ...
1994    Maine  2024      Q4  Fast-growing and prolific, these plants are th...
1995    Maine  2024      Q4  The drug, legal in much of the country, is wid...
1996    Maine  2024      Q4  A bumper crop of revisions, including a strong...
1997    Maine  2024      Q4  Today is likely to change the trajectory of th...
1998    Maine  2024      Q4  Covid cost Trump the presidency in 2020, and i...

[1999 rows x 4 columns]

In [486]:
list3['Year'] = list3['Year'].astype(int)

In [487]:
# Put all DataFrames into a list
dataframes = [list1, list2, list3, list4, list5]

# Concatenate them row-wise
final_list = pd.concat(dataframes, ignore_index=True)

In [488]:
final_list

,State,Year,Quarter,Text
0,Alabama,2020,Q1,Guidelines that could determine which coronavi...
1,Alabama,2020,Q1,Much of the country has ground to a halt. But ...
2,Alabama,2020,Q1,The move empowers the government to lock down ...
3,Alabama,2020,Q1,There is no such thing. Following last week’s ...
4,Alabama,2020,Q1,"Across the country, it’s mostly business as us..."
...,...,...,...,...
10119,Wyoming,2024,Q4,The president appeared to slip by suggesting h...
10120,Wyoming,2024,Q4,The president-elect could reshape government a...
10121,Wyoming,2024,Q4,The president-elect’s choice of combative loya...
10122,Wyoming,2024,Q4,After reports that the team includes a transge...
10123,Wyoming,2024,Q4,President-elect Donald J. Trump’s transition t...

In [489]:
final_list = final_list[final_list['Year'] == 2023]

In [490]:
final_list

,State,Year,Quarter,Text
120,Alabama,2023,Q1,See the latest charts and maps of virus hospit...
121,Alabama,2023,Q1,See the latest charts and maps of virus hospit...
122,Alabama,2023,Q1,See the latest charts and maps of virus hospit...
123,Alabama,2023,Q1,See the latest charts and maps of virus hospit...
124,Alabama,2023,Q1,See the latest charts and maps of virus hospit...
...,...,...,...,...
10084,Wyoming,2023,Q4,"Jeanine Tesori and George Brant’s “Grounded,” ..."
10085,Wyoming,2023,Q4,"When not driving around, electric buses and ot..."
10086,Wyoming,2023,Q4,How Adidas looked past misconduct in its partn...
10087,Wyoming,2023,Q4,What would you do if you won the lottery? How ...
10088,Wyoming,2023,Q4,The Natural Resources Defense Council is elimi...

In [491]:
corpus = final_list['Text']

In [492]:
corpus = corpus.astype(str)

In [493]:
# import nltk vader library
from nltk.sentiment.vader import SentimentIntensityAnalyzer
    
# initiate an analyzer
sia = SentimentIntensityAnalyzer()

senti_pos = []
senti_neg = []
senti_neu = []
senti_comp = []


# iterate through each sentence in corpus
for sentence in corpus:
    
    #print(sentence)
    
    # analyze the sentiment. ss is a dictionary
    ss = sia.polarity_scores(sentence)
    
    # output each sentiment score (neg, neu, pos, compound) in ss
    #print(ss['pos']) # for debugging
    senti_pos.append(ss['pos'])
    senti_neg.append(ss['neg'])
    senti_neu.append(ss['neu'])
    senti_comp.append(ss['compound'])
    
    # print an empty line as seperator
    #print('\n')

In [494]:
final_list = final_list.assign(pos = senti_pos, neg = senti_neg, neu = senti_neu, compound = senti_comp)

In [495]:
final_list

,State,Year,Quarter,Text,pos,neg,neu,compound
120,Alabama,2023,Q1,See the latest charts and maps of virus hospit...,0.000,0.000,1.000,0.0000
121,Alabama,2023,Q1,See the latest charts and maps of virus hospit...,0.000,0.000,1.000,0.0000
122,Alabama,2023,Q1,See the latest charts and maps of virus hospit...,0.000,0.000,1.000,0.0000
123,Alabama,2023,Q1,See the latest charts and maps of virus hospit...,0.000,0.000,1.000,0.0000
124,Alabama,2023,Q1,See the latest charts and maps of virus hospit...,0.000,0.000,1.000,0.0000
...,...,...,...,...,...,...,...,...
10084,Wyoming,2023,Q4,"Jeanine Tesori and George Brant’s “Grounded,” ...",0.123,0.115,0.762,0.1280
10085,Wyoming,2023,Q4,"When not driving around, electric buses and ot...",0.156,0.036,0.808,0.8608
10086,Wyoming,2023,Q4,How Adidas looked past misconduct in its partn...,0.015,0.000,0.985,0.0129
10087,Wyoming,2023,Q4,What would you do if you won the lottery? How ...,0.179,0.104,0.716,0.6662
10088,Wyoming,2023,Q4,The Natural Resources Defense Council is elimi...,0.161,0.129,0.710,0.0516

In [497]:
# Group by State and calculate the mean for each sentiment column
state_quarter_avg_scores = final_list.groupby(['Year','State', 'Quarter'])[['pos', 'neu', 'neg', 'compound']].mean().reset_index()

# Display the results
state_quarter_avg_scores

     Year      State Quarter     pos     neu     neg  compound
0    2023    Alabama      Q1  0.0000  1.0000  0.0000   0.00000
1    2023    Alabama      Q2  0.0502  0.8592  0.0907  -0.20895
2    2023    Alabama      Q3  0.1041  0.8345  0.0615   0.05488
3    2023    Alabama      Q4  0.1110  0.7616  0.1276  -0.14728
4    2023     Alaska      Q1  0.0000  1.0000  0.0000   0.00000
..    ...        ...     ...     ...     ...     ...       ...
199  2023  Wisconsin      Q4  0.0733  0.8733  0.0533   0.19950
200  2023    Wyoming      Q1  0.0000  1.0000  0.0000   0.00000
201  2023    Wyoming      Q2  0.0920  0.8383  0.0697   0.08459
202  2023    Wyoming      Q3  0.0522  0.8758  0.0720  -0.05592
203  2023    Wyoming      Q4  0.1072  0.7788  0.1136   0.02751

[204 rows x 7 columns]

In [498]:
state_quarter_avg_scores['Quarter'] = state_quarter_avg_scores['Quarter'].str.lstrip('Q')

In [499]:
state_quarter_avg_scores

     Year      State Quarter     pos     neu     neg  compound
0    2023    Alabama       1  0.0000  1.0000  0.0000   0.00000
1    2023    Alabama       2  0.0502  0.8592  0.0907  -0.20895
2    2023    Alabama       3  0.1041  0.8345  0.0615   0.05488
3    2023    Alabama       4  0.1110  0.7616  0.1276  -0.14728
4    2023     Alaska       1  0.0000  1.0000  0.0000   0.00000
..    ...        ...     ...     ...     ...     ...       ...
199  2023  Wisconsin       4  0.0733  0.8733  0.0533   0.19950
200  2023    Wyoming       1  0.0000  1.0000  0.0000   0.00000
201  2023    Wyoming       2  0.0920  0.8383  0.0697   0.08459
202  2023    Wyoming       3  0.0522  0.8758  0.0720  -0.05592
203  2023    Wyoming       4  0.1072  0.7788  0.1136   0.02751

[204 rows x 7 columns]

In [500]:
final = final.rename(columns={'Geography': 'State'})
final = final.rename(columns = {'quarter':'Quarter'})

In [501]:
final.head()

,Year,Quarter,State,Enrollment Description,Race,Sex,Entitlement Status,Age,Rural/Urban Status,Total Telehealth Eligible Users,...,Percent_Black_Population,Percent_Hispanic_Population,Percent_Asian_Population,Percent_AmericanIndian_AlaskaNative_Population,Percent_NativeHawaiian_PacificIslander_Population,Percent_Population_UnderFederalPoverty<100%,Percent_Population_UnderFederalPoverty100-199%,Percent_Population_UnderFederalPoverty200-399%,Percent_Population_UnderFederalPoverty400%+,UnemploymentRate
0,2023,Overall,ALABAMA,All,All,All,All,All,All,390763.0,...,25.0,5.8,1.6,0.3,0.2,15.6,19.0,32.1,33.4,2.9
1,2023,Overall,ALASKA,All,All,All,All,All,All,89701.0,...,2.3,7.4,6.1,14.1,1.4,10.6,13.7,28.4,47.2,5.0
2,2023,Overall,ARIZONA,All,All,All,All,All,All,612541.0,...,4.4,31.7,3.5,3.1,0.2,12.4,16.2,31.6,39.7,3.3
3,2023,Overall,ARKANSAS,All,All,All,All,All,All,330269.0,...,14.1,9.2,1.7,0.4,0.4,15.2,21.5,32.7,30.6,3.1
4,2023,Overall,CALIFORNIA,All,All,All,All,All,All,2635429.0,...,5.0,40.6,15.6,0.3,0.3,12.0,15.2,27.6,45.2,4.9

In [502]:
final['State'] = final['State'].str.title()

In [503]:
final = final[final['Quarter'] != 'Overall']

In [504]:
final

,Year,Quarter,State,Enrollment Description,Race,Sex,Entitlement Status,Age,Rural/Urban Status,Total Telehealth Eligible Users,...,Percent_Black_Population,Percent_Hispanic_Population,Percent_Asian_Population,Percent_AmericanIndian_AlaskaNative_Population,Percent_NativeHawaiian_PacificIslander_Population,Percent_Population_UnderFederalPoverty<100%,Percent_Population_UnderFederalPoverty100-199%,Percent_Population_UnderFederalPoverty200-399%,Percent_Population_UnderFederalPoverty400%+,UnemploymentRate
54,2023,1,Alabama,All,All,All,All,All,All,318126.0,...,25.0,5.8,1.6,0.3,0.2,15.6,19.0,32.1,33.4,2.9
55,2023,1,Alaska,All,All,All,All,All,All,63151.0,...,2.3,7.4,6.1,14.1,1.4,10.6,13.7,28.4,47.2,5.0
56,2023,1,Arizona,All,All,All,All,All,All,486150.0,...,4.4,31.7,3.5,3.1,0.2,12.4,16.2,31.6,39.7,3.3
57,2023,1,Arkansas,All,All,All,All,All,All,261628.0,...,14.1,9.2,1.7,0.4,0.4,15.2,21.5,32.7,30.6,3.1
58,2023,1,California,All,All,All,All,All,All,2071032.0,...,5.0,40.6,15.6,0.3,0.3,12.0,15.2,27.6,45.2,4.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,2023,4,Virginia,All,All,All,All,All,All,709544.0,...,17.9,11.1,7.0,0.1,0.2,10.2,13.8,26.7,49.2,3.0
266,2023,4,Washington,All,All,All,All,All,All,483457.0,...,3.8,14.5,9.9,0.8,0.7,10.2,12.5,27.1,50.3,4.2
267,2023,4,West Virginia,All,All,All,All,All,All,145095.0,...,2.6,2.0,0.7,0.3,0.2,16.6,19.6,33.1,30.6,3.7
268,2023,4,Wisconsin,All,All,All,All,All,All,365045.0,...,5.7,8.1,2.9,0.5,0.2,10.9,14.2,32.5,42.4,2.8
269,2023,4,Wyoming,All,All,All,All,All,All,68150.0,...,0.6,10.7,0.6,1.6,0.2,11.7,17.2,33.4,37.7,3.4

In [505]:
final

,Year,Quarter,State,Enrollment Description,Race,Sex,Entitlement Status,Age,Rural/Urban Status,Total Telehealth Eligible Users,...,Percent_Black_Population,Percent_Hispanic_Population,Percent_Asian_Population,Percent_AmericanIndian_AlaskaNative_Population,Percent_NativeHawaiian_PacificIslander_Population,Percent_Population_UnderFederalPoverty<100%,Percent_Population_UnderFederalPoverty100-199%,Percent_Population_UnderFederalPoverty200-399%,Percent_Population_UnderFederalPoverty400%+,UnemploymentRate
54,2023,1,Alabama,All,All,All,All,All,All,318126.0,...,25.0,5.8,1.6,0.3,0.2,15.6,19.0,32.1,33.4,2.9
55,2023,1,Alaska,All,All,All,All,All,All,63151.0,...,2.3,7.4,6.1,14.1,1.4,10.6,13.7,28.4,47.2,5.0
56,2023,1,Arizona,All,All,All,All,All,All,486150.0,...,4.4,31.7,3.5,3.1,0.2,12.4,16.2,31.6,39.7,3.3
57,2023,1,Arkansas,All,All,All,All,All,All,261628.0,...,14.1,9.2,1.7,0.4,0.4,15.2,21.5,32.7,30.6,3.1
58,2023,1,California,All,All,All,All,All,All,2071032.0,...,5.0,40.6,15.6,0.3,0.3,12.0,15.2,27.6,45.2,4.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,2023,4,Virginia,All,All,All,All,All,All,709544.0,...,17.9,11.1,7.0,0.1,0.2,10.2,13.8,26.7,49.2,3.0
266,2023,4,Washington,All,All,All,All,All,All,483457.0,...,3.8,14.5,9.9,0.8,0.7,10.2,12.5,27.1,50.3,4.2
267,2023,4,West Virginia,All,All,All,All,All,All,145095.0,...,2.6,2.0,0.7,0.3,0.2,16.6,19.6,33.1,30.6,3.7
268,2023,4,Wisconsin,All,All,All,All,All,All,365045.0,...,5.7,8.1,2.9,0.5,0.2,10.9,14.2,32.5,42.4,2.8
269,2023,4,Wyoming,All,All,All,All,All,All,68150.0,...,0.6,10.7,0.6,1.6,0.2,11.7,17.2,33.4,37.7,3.4

In [506]:
state_quarter_avg_scores.head(10)

   Year    State Quarter     pos     neu     neg  compound
0  2023  Alabama       1  0.0000  1.0000  0.0000   0.00000
1  2023  Alabama       2  0.0502  0.8592  0.0907  -0.20895
2  2023  Alabama       3  0.1041  0.8345  0.0615   0.05488
3  2023  Alabama       4  0.1110  0.7616  0.1276  -0.14728
4  2023   Alaska       1  0.0000  1.0000  0.0000   0.00000
5  2023   Alaska       2  0.0744  0.9068  0.0188   0.32959
6  2023   Alaska       3  0.0774  0.8486  0.0738  -0.01205
7  2023   Alaska       4  0.0927  0.8334  0.0740   0.08235
8  2023  Arizona       1  0.0252  0.9395  0.0352  -0.10155
9  2023  Arizona       2  0.0383  0.8637  0.0978  -0.36838

In [507]:
final_df = pd.merge(final, state_quarter_avg_scores[['State', 'Quarter', 'pos', 'neu', 'neg', 'compound']], 
               on=['State', 'Quarter'], how='left')

In [509]:
final_df

,Year,Quarter,State,Enrollment Description,Race,Sex,Entitlement Status,Age,Rural/Urban Status,Total Telehealth Eligible Users,...,Percent_NativeHawaiian_PacificIslander_Population,Percent_Population_UnderFederalPoverty<100%,Percent_Population_UnderFederalPoverty100-199%,Percent_Population_UnderFederalPoverty200-399%,Percent_Population_UnderFederalPoverty400%+,UnemploymentRate,pos,neu,neg,compound
0,2023,1,Alabama,All,All,All,All,All,All,318126.0,...,0.2,15.6,19.0,32.1,33.4,2.9,0.0000,1.0000,0.0000,0.00000
1,2023,1,Alaska,All,All,All,All,All,All,63151.0,...,1.4,10.6,13.7,28.4,47.2,5.0,0.0000,1.0000,0.0000,0.00000
2,2023,1,Arizona,All,All,All,All,All,All,486150.0,...,0.2,12.4,16.2,31.6,39.7,3.3,0.0252,0.9395,0.0352,-0.10155
3,2023,1,Arkansas,All,All,All,All,All,All,261628.0,...,0.4,15.2,21.5,32.7,30.6,3.1,0.0000,1.0000,0.0000,0.00000
4,2023,1,California,All,All,All,All,All,All,2071032.0,...,0.3,12.0,15.2,27.6,45.2,4.9,0.0351,0.8982,0.0667,-0.18501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,2023,4,Virginia,All,All,All,All,All,All,709544.0,...,0.2,10.2,13.8,26.7,49.2,3.0,0.0307,0.9059,0.0634,-0.12002
212,2023,4,Washington,All,All,All,All,All,All,483457.0,...,0.7,10.2,12.5,27.1,50.3,4.2,0.0685,0.8366,0.0949,-0.13560
213,2023,4,West Virginia,All,All,All,All,All,All,145095.0,...,0.2,16.6,19.6,33.1,30.6,3.7,0.0399,0.8414,0.1186,-0.43365
214,2023,4,Wisconsin,All,All,All,All,All,All,365045.0,...,0.2,10.9,14.2,32.5,42.4,2.8,0.0733,0.8733,0.0533,0.19950
215,2023,4,Wyoming,All,All,All,All,All,All,68150.0,...,0.2,11.7,17.2,33.4,37.7,3.4,0.1072,0.7788,0.1136,0.02751

In [510]:
final_df.to_csv('final_df.csv', index=False)